/* reset.css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS REEST finish */

/* scrollbar */
body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-thumb {
  height: 20%; /* 스크롤바의 길이 */
  background: #02a6cb; /* 스크롤바의 색상 */
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1);
}

/* Footer */
.footer {
  height: 330px;
  background-color: #f4f4f4;
  padding-top: 72px;
}

.footerBox {
  width: 50vw;
  margin: auto;
  display: block;
}

.contact {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.23;
  color: #5f5f5f;
  padding-bottom: 10px;
}

.contactInfo {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.6;
  color: #5f5f5f;
  padding-bottom: 6px;
}

/* NavBar */

.topBar {
  height: 70px;
  background-color: #fff;
  box-shadow: 0 2px 0 0 #f4f4f4;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logoAndMenu {
  height: 74px;
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.icon,
.title {
  float: left;
}

.title {
  font-family: "Black Han Sans", sans-serif;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

.menuContainer {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.menuList {
  font-size: 20px;
  color: #333333;
  font-weight: 500;
  margin: 20px;
  word-break: keep-all;
  line-height: 1.5em;
}

.menuList:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.25s;
}
.menuList:active {
  transform: scale(1.2);
}

/* Home */
.main {
  width: 50vw;
  margin: auto;
  display: block;
  word-break: keep-all;
}

.intro {
  font-size: calc(0.5em + 1vw);
  font-weight: 700;
  margin-top: 50px;
  line-height: 2em;
}

.subIntro {
  font-size: calc(0.3em + 1vw);
  color: #5f5f5f;
  margin-top: 22px;
  line-height: 1.5em;
  word-break: keep-all;
}

/* button container */
.buttonContainer {
  padding-top: 30px;
  height: 80vh;
}

.serviceButton {
  width: 50vw;
  height: 20vh;
  color: #fff;
  font-size: 1em;
  margin: auto;
  display: block;
  margin-bottom: 30px;
  border: none;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  transition: 0.25s;
  background: linear-gradient(-45deg, #33ccff 0%, #ff99cc 100%);
  background-size: 400% 400%;
  animation: gradient1 10s ease infinite;
  color: white;
  border-radius: 15px;
}

.serviceButton:active {
  transform: scale(1.2);
}

.serviceButton:hover {
  background-color: #02a6cb;
  cursor: pointer;
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

@keyframes gradient1 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.serviceButton2 {
  width: 50vw;
  height: 20vh;
  color: #fff;
  font-size: 1em;
  margin: auto;
  display: block;
  margin-bottom: 30px;
  border: none;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  transition: 0.25s;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  border: 3px solid #6aafe6;
  color: #6e6e6e;
}

.serviceButton2:hover {
  background-color: #6aafe6;
  color: #d4dfe6;
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

.serviceButton2:active {
  transform: scale(1.5);
}

/* <button class="w-btn-outline w-btn-blue-outline" type="button">
BUTTON
</button> */

/* 페이지 내용  */
.content {
  font-size: calc(0.5em + 1vw);
  color: #313131;
  margin-top: 22px;
  line-height: 1.5em;
  word-break: keep-all;
  margin-bottom: 40px;
}

.content-title {
  text-align: center;
}

.content-small {
  font-size: 5px;
  color: #ccc;
  text-align: right;
}

.content span {
  font-size: calc(0.8em + 1vw);
  font-weight: 700;
  color: #006e93;
}

/* 실시간 혼잡도 */
.progress {
  margin: 20px;
  display: block;
  margin: auto;
  width: 50vw;
  height: 7vh;
  appearance: none;
  padding: 8px;
}
.progress::-webkit-progress-bar {
  background: #f0f0f0;
  border-radius: 50px;
  box-shadow: inset 3px 3px 10px #ccc;
}

.progress::-webkit-progress-value {
  border-radius: 50px;
  background: #62c6c4;
  background: -webkit-linear-gradient(to right, #02a6cb, #006e93);
  background: linear-gradient(to right, #02a6cb, #006e93);
}

.libImg {
  display: block;
  margin: auto;
  width: 50vw;
}

/* 요일시간별 혼잡도 */
.day-month-congestion {
  margin: 10px;
}

/* 셀렉트 박스 */
select {
  width: 25vw;
  padding: 5px;
  margin: 5px;
  border: 1px solid #999;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
}
select::-ms-expand {
  display: none;
}

/* 추천 서비스  */
.recommend-top-10-box {
  margin: 10px;
}

.recommend-title {
  margin: 2px;
  color: #313131;
  font-weight: 500;
  font-size: calc(0.7em + 1vw);
  line-height: 1.8em;
}
.recommend-second-title {
  font-size: calc(0.6em + 1vw);
  margin: 20px;
  text-align: center;
  line-height: 2em;
}

.recommend-second-title span {
  font-size: calc(0.6em + 1vw);
  font-weight: 700;
  color: #02a6cb;
}
.recommend-content {
  margin: 2px;
  background-color: #f4f4f4;
  border-radius: 5px;
  font-size: calc(0.4em + 1vw);
  padding: 20px;
  letter-spacing: 0.5px;
  line-height: 2em;
  word-break: break-all;
}
.recommend-book-list {
  margin: 10px;
}

/* 화면 축소 */
@media screen and (max-width: 1030px) {
  .icon {
    display: none;
    /* visibility: hidden; */
  }
  .menuList {
    font-size: 1em;
  }
}

@media screen and (max-width: 767px) {
  /* 모바일 */

  .main {
    width: 80vw;
    margin: auto;
    display: block;
    word-break: keep-all;
  }

  .menuList {
    display: none;
  }

  .intro {
    font-size: calc(0.75em + 1vw);
    margin-top: 30px;
    line-height: 1.8em;
  }
  .subIntro {
    font-size: calc(0.4em + 1vw);
    margin-top: 15px;
    line-height: 1.5em;
    word-break: keep-all;
  }

  .logoAndMenu {
    width: 80vw;
  }

  .footerBox {
    width: 80vw;
  }

  /* 수정 */
  .predictCongestionTime-container {
    margin-top: 20px;
    margin-bottom: 20vh;
  }

  .predictCongestionTime {
    font-size: 10px;
  }

  .serviceButton {
    width: 80vw;
  }

  .serviceButton2 {
    width: 80vw;
  }
}

.date {
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 700;
}

.predictCongestionTime-container {
  display: flex;
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.predictCongestionTime {
  margin: 0 auto;
  text-align: center;
  justify-content: center;

  margin-top: 30px;
  height: 80px;
  line-height: 80px;

  font-style: normal;
  font-weight: 1000;
  font-size: 8vw;
}

.notCongestion {
  color: #5f5f5f;
}

.mostCongestion {
  color: #ff1919;
  font-size: 10vw;
}
